body{
	background-color: black;
	display: flex;
}

.container{
	position: absolute;
	width: 640px;
	height: 328px;
	left: 400px;
	top: 100px;
	background-color: white;
	border-radius: 5px;
}

.sms{
	text-align: center;
}

.h3{
	font-size: 16px;
	color: black;
}

.p{
	font-size: 14px;
	color: #A9A9A9;
	line-height: 18px;
	font-family: sora;
	font-weight: 600px;
}

.cells{
	display: flex;
	justify-content: center;
	gap: 10px;


}

.cell{
	width: 48px;
	height: 48px;
	border-radius: 0.5px solid #DADADA;
	background: white;
	border-radius: 12px;
	font-size: 24px;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.btn{
	position: absolute;
	bottom: 48px;
	left: 128px;
	width: 384px;
	height: 48px;
	background: #232529;
	border-radius: 4px;	
	color: white;
	border-block: none;
	font-size: 20px;
}